.hostelForm{
    background-image: url(https://img.freepik.com/free-vector/blue-border-abstract-gradient-background_53876-115744.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hform{
    box-shadow: 3px 3px 8px 8px gray;

}